body{
	font:1.1em;
}

h1,
h2,
h3,
h4,
h5{
	font-weight: 400;
}

.hidden{
	display: none;
}

.wrapper{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
}

.upload-console{
	background: #fefefe;
	border:2px solid #eee;
	padding:20px;
}

.upload-console-header{
	padding:0 0 20px 0;
	margin: 0;
	border-bottom:2px solid #eee;
	font-weight: 600;
	margin-bottom:20px;
}

.upload-console-drop{
	height: 200px;
	border:2px dashed #ccc;
	line-height: 200px;
	color: #ccc;
	text-align: center;
	margin-bottom: 20px;
}
.upload-console-drop.drop{
	border-color: #222;
	color:#222;
}
.upload-console-body{
	margin-bottom: 20px;
}
.bar{
	width: 100%;
	background: #eee;
	padding: 3px;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.2)
	box-sizing:border-box;
	margin-bottom: 20px;
}
.bar-fill{
	height: 30px;
	display: block;
	background: cornflowerblue;
	width: 0;
	border-radius: 3px;
	-webkit-transition:width 0.8s ease;
	transition:width 0.8s ease;
}
.bar-fill-text{
	color: #fff;
	line-height: 30px;
	margin-left: 5px;
}
.upload-console-upload{
	border-bottom:2px solid #ccc;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.upload-console-upload span{
	float: right;
}